body {

    font-family: 'Lexend Exa', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    padding-left: 5px;

}

h3 {

    padding-left: 535px;

}

.char-img {

    display: block;
    max-width: 170px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.char-box {

    border: solid green;
    background-color: white;
    padding: 3px 8px 3px 8px;
    text-align: center;

}

.player-box {

    height: 180px;
    width: auto;

}

.enemy-box {

    border: solid black;
    background-color: red;
    padding: 5px;
    text-align: center;

}

.defender-box {

    border: solid green;
    background-color: black;
    padding: 5px;
    text-align: center;
    color: white;

}

#characters {

    padding-left: 15px;

}

#player-row {

    padding-left: 15px;

}

#enemies-row {

    padding-left: 15px;

}

#defender-row {

    padding-left: 15px;

}

#restart {

    display:none;

}